      
	 <!-- #intro -->
	<div class="with-bg-size">
	<div class="main-container ">
		<div class="container-fluid" id="intro">	
		<div class="container">	
			<div class="row span8 center">
				<h1>Time For Oil Change </h1>
				<h4><p>Get the best prices in your area!!
	</p></h4>
	<%= render 'mainpage' %>
			</div>	
		</div>
	</div>
    <!-- ends Intro -->
    

   <!-- #about -->
<div class="container-fluid" id="about">
		<div class="container light">
			<h1>What we offer</h1>
		<ul class="thumbnails">
		  <li class="span12">
		    <div class="thumbnail">
		      <img alt="" src="assets/img/icon1.png">
		      <h3>Well Connected</h3>
		      <p><h4>At TrueOil, we search through our database of
		      	 thousands of service providers to get you the best price for an oil change in your area. 
		      	 In addition to the nationwide chains, we search through our network of hundreds of 
		      	 local mom-n-pop service centers that provide you the best service at the best price. 
		      	 We also provide the coupons offered by most of these providers so that you don't have
		      	  to search multiple sites hunting for coupons. You can be confident that you will never 
		      	  overpay for the service! Sign-up on our website or download our Android and iOS Apps
		      	   to receive reminders when your service is due and to receive special coupons. 
		      	Shop savvy where ever you are!
		      	</h4>
		      	</p>
		    </div>
		  </li>
		
		  
		</ul>
	</div>
</div>
 <!-- End Contact -->  
</div>
</div>



